# Excluir todo de target EXCEPTO el JAR
target/*
!target/*.jar

# Resto de exclusiones
# Keep maven wrapper files for builds
.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar
.idea/
*.iml
.vscode/
.git/
README.md
docker-compose.yml
*.md
.gitignore
node_modules/
src/test/